body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    min-width: 300px;
}

footer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    bottom: 0;
    right: 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 40px;
    text-align: left;
    background: linear-gradient(#1a1a1a 0%, #00080b 35%);
    color: white;
    overflow: hidden;
}

footer a:hover {
    transition: 0.2s;
    border-bottom: solid white 3px;
    font-weight: bolder;
}

header .nav:hover {
    transition: 0.2s;
    border-bottom: solid white 3px;
    font-weight: bolder;
}

footer ul {
    list-style: none;
}

footer .ul2 {
    list-style-type: none;
}

footer .divFooterList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
}

footer .footerNavVeliko,
footer .footerNav {
    color: white;
    text-decoration: none;
    font-size: smaller;
    font-weight: lighter;
}

footer .footerNavVeliko {
    font-weight: 400;
    font-size: larger;
}

.logo:hover {
    border: none;
    box-shadow: 3px 4.9px 16px #1a1a1a;
    letter-spacing: 5px;
}

.logo {
    display: flex;
    flex-direction: row;
}

header {
    width: 100%;
    display: flex;
    flex: 1 1 50px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background: #080d10;
    flex-direction: row;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

header .nav2:active {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 2s;
}

header .textActive {
    color: white;
    text-decoration: none;
    font-weight: 700;
    align-self: center;
}

header li {
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

header ul {
    list-style-type: none;
    flex-wrap: nowrap;
    flex: 1 1;
}

header .logo {
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    list-style: none;
}

header .logo {
    text-decoration: none;
    overflow: hidden;
}

header .nav2 {
    color: black;
    font-weight: 400;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header .nav2:hover {
    border: none;
    letter-spacing: 1px;
}

header .na2 {
    background-color: aqua;
    margin-left: 5px;
    border-radius: 8px;
}

header .nav {
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    body,
    .navbar .nav-container a {
        font-size: smaller;
    }
    footer {
        font-size: x-small;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    header {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 790px) {
    header {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    body {
        overflow-x: hidden;
    }
    #navigation {
        display: none;
    }
    .navbar {
        position: relative;
        display: initial;
        z-index: 11;
    }
    .container {
        width: 100%;
    }
    .navbar {
        width: 100%;
        box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar .menu-items {
        display: flex;
    }
    .navbar .nav-container li {
        list-style: none;
    }
    .navbar .nav-container a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        font-size: large;
    }
    .navbar .nav-container a:hover {
        font-weight: bolder;
    }
    .nav-container {
        display: block;
        position: relative;
        height: 60px;
    }
    .nav-container .checkbox {
        position: absolute;
        display: block;
        height: 26px;
        min-width: 32px;
        top: 15px;
        right: 5px;
        align-self: center;
        z-index: 11;
        opacity: 0;
        cursor: pointer;
    }
    .menu-items-divider {
        width: 90%;
        border: 1px solid white;
    }
    .nav-container .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        align-self: center;
        top: 15px;
        right: 5px;
        position: absolute;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: white;
    }
    .nav-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.5s ease-in-out;
    }
    .nav-container .hamburger-lines .line2 {
        transition: transform 0.4s ease-in-out;
    }
    .nav-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.5s ease-in-out;
    }
    .navbar .menu-items {
        padding-top: 50px;
        background-color: #00080b;
        width: 150px;
        flex: 1 1 auto;
        height: 90vh;
        display: flex;
        flex-direction: column;
        transform: translate(500px);
        padding-left: 25px;
        padding-right: 25px;
        transition: transform 0.5s ease-in-out;
        text-align: center;
    }
    .navbar .menu-items li {
        font-weight: 500;
    }
    .nav-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
        background: white;
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
        background: white;
    }
    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
        background: white;
    }
    body {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-height: 1050px) {}