.mainContainer {
    display: flex;
    flex-direction: row;
    flex: 0 1 200px;
    margin: 0;
    background-image: url("/Aplikacija/frontend/resources/prijBg.png");
    background-size: cover;
    column-gap: 20px;
}

.slika {
    margin: 0;
    min-width: 25px;
    overflow: hidden;
}

.forma {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    flex: 0 1 400px;
}

button {
    margin: 5px;
}

.btnRegistracija {
    background: #1A1A1A;
    border-radius: 8px;
    color: #EDEDED;
    font: bold;
    font-size: large;
    padding: 5px 25px 5px 25px;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}

.btnGoogle {
    min-width: 10px;
    background: #4C66E8;
    border-radius: 8px;
    color: #EDEDED;
    text-align: center;
    font: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 13px;
}

input {
    margin: 10px;
    border: none;
    min-width: 229px;
    padding: 5px;
    background: #ededed;
    border-radius: 8px;
    font-size: large;
    height: 30px;
}

.solid {
    text-align: start;
    padding-left: 10px;
}

.imgGlg {
    background-color: white;
    border-radius: 8px;
}

.solid {
    color: #a39f9f;
}

.textMob {
    display: none;
}

@media only screen and (max-width: 600px) {
    html,
    body {
        min-width: 300px;
    }
    .mainContainer {
        background: none;
        justify-content: center;
    }
    .slika {
        display: none;
    }
    .forma {
        min-width: 280px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 0 1 340px;
    }
    .form {
        display: flex;
        flex-direction: column;
    }
    input {
        width: 280px;
        margin: 5px;
        font-size: smaller;
        min-width: 26px;
    }
    button {
        font-size: smaller;
        padding: 1px;
        min-width: none;
    }
    .btnRegistracija {
        flex: 0 1 200px;
    }
    .btnGoogle,
    .btnRegistracija,
    .mainContainer {
        font-size: smaller;
    }
    .textMob {
        margin: 5px;
        display: initial;
        text-indent: 0;
        font-size: 32px;
        font-weight: 700;
    }
}